fastapi
uvicorn # uvicorn is used to run FastAPI, [standard] includes httptools and websockets
sqlalchemy
python-multipart # Required for FastAPI's UploadFile and Form
numpy # DeepFace and FAISS depend on numpy
pydantic # Core dependency for FastAPI data validation
python-dotenv # For loading environment variables from .env files
# tensorflow-cpu # Use tensorflow-cpu if you don't need GPU support
mysql-connector-python
insightface
onnxruntime